<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Legit Website</title>
    </head>

    <body>
		<h1>List of all accounts and passwords</h1>

        


         <table>
            <tr>
                <th style="text-align:left">Login</th>
                <th style="text-align:right">Password</th>
            </tr>
			
			<tr>
				<td style="text-align:left">admin<br>guest</td>
				<td style="text-align:right">admin<br>guest</td>
			</tr>	
			
        </table>
    </body>


    </body>
</html>
