<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Legit Website</title>
    </head>

    <body>
		<h1>People and numbers (guest)</h1>

        <table>
            <tr>
                <th style="text-align:left">Person</th>
                <th style="text-align:right">Number</th>
            </tr>
			{% for account in accounts %}
			<tr>
				<td style="text-align:left">{{account.iban}}</td>
				<td style="text-align:right">{{account.balance}}</td>
			</tr>	
			{% endfor %}
        </table>

        <h2>Transfer not availavable for guests</h2>

        
    </body>


    </body>
</html>
